body {
    background-color: rgb(252, 25, 9);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 132, 1)
}
#head1 {
    text-align: center;
}
#p1 {
    font-size: 20px;
    text-align: center;
}
#anh1 {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#anh1 img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}


